extends layout
block content
    .p
    if canManageCalendar
        a.btn.btn-raised(href='/event/add', role='button') Manage Calendar
    .align-items-md-center
        .card
            .card-header LUNDI
            .card-body
                .h5.card-title special title
                .p.card-text this is the text
                .a.btn.btn-default
        .card
            .card-header LUNDI
            .card-body
                .h5.card-title special title
                .p.card-text this is the text
                .a.btn.btn-default
        .card
            .card-header LUNDI
            .card-body
                .h5.card-title special title
                .p.card-text this is the text
                .a.btn.btn-default
        .card
            .card-header LUNDI
            .card-body
                .h5.card-title special title
                .p.card-text this is the text
                .a.btn.btn-default
        .card
            .card-header LUNDI
            .card-body
                .h5.card-title special title
                .p.card-text this is the text
                .a.btn.btn-default

