extends layout


block content
    if (!events)
        .text-center All the game have been feedbacked ...
    else
        .card-columns
           each eventNoFeedbacked in events
               .h2.card-header.text-center #{eventNoFeedbacked.nameOfEvent}
                   .h7.card-title.text-center #{eventNoFeedbacked.day.getDate()}/#{eventNoFeedbacked.day.getMonth() + 1}/#{eventNoFeedbacked.day.getFullYear()}
                       .card-body
                            a.btn.text-center.btn-info(href='/event/feedback/' + eventNoFeedbacked._id, role='button') GiveFeedBack »
