extends layout

block content
    h1 La cagnotte
    .row
        .col-1
            p Monday
        .col-1
            p this is a description

    form(action='/games/add', method='POST')
        p
            input(type='hidden', name='_csrf', value=_csrf)
            | Name:
            input(type='text', name='name', value='')
            |          price:
            input(type='text', name='price', value='')
        input(type='submit', value='Submit')