extends layout

block content
  h1 Zarathoustra
  p.lead The most trending gamer community

  if user
    hr
    .row
      .col-md-6
        h2 Monday
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-raised(href='#', role='button') View details »
      .col-md-6
        h2 Tuesday
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-raised(href='#', role='button') View details »
      .col-md-6
        h2 Wednesday
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-raised(href='#', role='button') View details »
      .col-md-6
        h2 Thursday
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-raised(href='#', role='button') View details »

      .col-md-6
        h2 Friday
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-raised(href='#', role='button') View details »
  else
    p You're not a member of the community, you can request to be part of it at any moment here :
      a.nav-item(href="/contact") Zarathoustra-contact